 <article>
 <div class="user-details">
  <h1> Zhijie <strong>"ZJ"<strong> Zhou </h1>
  <strong> {{site.user_description}} </strong>
  <p><a href="https://illinois.edu" target="_blank">University of Illinois Urbana-Champaign.</a> Urbana, IL, USA</p>
  <p>I am a Ph.D. student in Geography at University of Illinois Urbana-Champaign and I am a member of Remote Sensing Space-Time Innovation Lab advised by <a href="https://diaorssilab.web.illinois.edu/" target="_blank">Prof. Chunyuan Diao</a>. My research focus on building geospatial solutions for rural development, food security and biodiversity and constructing environmental sensing models on real-world spatiotemporal data.</p>
  <p></p>
  <p>Prior to my PhD study, I received a Master degree in Environmental Policy from Duke University and Duke Kunshan University, advised by <a href="https://libinbinorg.wordpress.com/" target="_blank">Prof. Binbin V. Li</a>, working on spatial-explicit models and cartography for human-biodiversity nexus. </p>
<!--   <p> Master in Environmental Policy, Duke University </p>
  <p> Master in Urban Spatial Analytics, University of Pennsylvania </p>
  <p> Bachelor of Science in Atmospheric & Oceanic Sciences, University of California, Los Angeles </p> -->
<!-- </div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div> -->
</div>
</article>
