<!--  <article> -->
 <div class="user-details">
  <h1> Zhijie <strong>"ZJ"</strong> Zhou </h1>
  <strong> {{site.user_description}} </strong>
  <p><a href="https://illinois.edu" target="_blank">University of Illinois Urbana-Champaign.</a> Urbana, IL, USA</p>
  <p>I am a Ph.D. student in Geography at University of Illinois Urbana-Champaign and I am a member of Remote Sensing Space-Time Innovation Lab advised by <a href="https://diaorssilab.web.illinois.edu/" target="_blank">Prof. Chunyuan Diao</a>. My research focus on building geospatial solutions for rural development, food security and biodiversity and constructing environmental sensing models on real-world spatiotemporal data.</p>
  <p></p>
  <p>Prior to my PhD study, I received a Master degree in Environmental Policy from Duke University and Duke Kunshan University, advised by <a href="https://libinbinorg.wordpress.com/" target="_blank">Prof. Binbin V. Li</a>, working on spatial-explicit models and cartography for human-biodiversity nexus. </p>
  <div class="news">
    <h2>News</h2>
                <p> <strong>Apr 18, 2024<br></strong>I won 1st-place Remote Sensing Specialty Group Student Honors Paper in AAG 2024!✨</p>
                <p> <strong>Apr 12, 2024<br></strong>I was awared the 2024 Radar Aeroecology Workshop Travel Award!</p>
                <p> <strong>Jan 13, 2023<br></strong>I got the Illinois Distinguished Fellowship!</p>
  </div>
</div>

<!-- </article> -->
