<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Profit by confusion matrix type and threshold" src="{{ "/assets/img/churn.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Decision Prediction and Cost Benefit Analysis for a Housing Subsidy Program </h3>
    <ul>
      <li> Logistic Regression Modeling (R)</li>
    </ul>
    <p>The woefully inadequate uptake of the house-repairing tax credit program in Emil City has driven the city's Department of Housing and Community Development (HCD) to strive for a better understanding of the willingness of eligible homeowners and more effectively targeting resource allocation. Based on client-level data collected from previous campaigns, we developed a decision-making analytic.</p>
    <a class="project-link" href="/portfolio/projects/peopleBasedMLCBA.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Comparison of Kernel Density and Risk Predictions" src="{{ "/assets/img/crime.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Geospatial Risk Modeling - Chicago Public Safety: Theft from Building </h3>
    <ul>
      <li> Poisson Regression (R)</li>
    </ul>
    <p>
    Many cities are faced with similar strategic planning issues recently with the advanced techiniques to do with big data analytics and machine learning: paying money for predictions to reduce losses from crime incidents in the future? This project built a geospatial risk modeling for the public safety policy of Chicago, Illinois using the crime type Theft from Building data and available 311 request records dataset retrieved from Chicago City Data Portal: https://data.cityofchicago.org/.
    </p>
    <a class="project-link" href="/portfolio/projects/geosRiskM.html">Check it out</a>
  </div>
</div>
  
<div class="user-projects">
  <div class="images-right">
    <img alt="Predicted Home Prices" src="{{ "/assets/img/housing.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Hedonic Home Price Prediction - Miami/Miami Beach, FL </h3>
    <ul>
      <li> OLS Regression (R) </li>
    </ul>
    <p>
    In the market of real estates, the fluctuation of home prices often tangled with tons of possible factors related to public policy, environment, economic development, etc. A well-tuned prediction model for housing market prices can equip the stakeholders like Zillow with competency and reliability in market planning. This project aimed at providing a prediction model for housing prices taking interesting predictors of "local intelligence" - possible variables correlated with home prices based on existing sales folios from 2018 to 2020 in Miami and Miami Beach, Florida as our training data set with Ordinary Least Square (OLS) regression done in RStudio.
    </p>
    <a class="project-link" href="/portfolio/projects/housingPricePrediction.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Median Rent 2009-2018" src="{{ "/assets/img/tod.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> TOD Analysis of Los Angeles City </h3>
    <ul>
      <li> Tidycensus & Visualization (R)</li>
    </ul>
    <p>
    We investigated Transit Oriented Development (TOD) potential in Los Angeles City, CA, through the analysis of space/time indicators wrangled from Census data with respect to LA Metro stations. We selected Population, Median Rent, Percent of Bachelor, and Percent of Poverty of the census tracts within 0.5 mile of each Metro stations in 2009 and 2018 as TOD indicators for comparison purpose. Besides, we also visualized the spatial patterns of rape crime incidents with stations and median rent data respectively.
    </p>
    <a class="project-link" href="/portfolio/projects/TOD.html">Check it out</a>
  </div>
</div>
