<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Profit by confusion matrix type and threshold" src="{{ "/assets/img/churn.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Decision Prediction and Cost Benefit Analysis for a Housing Subsidy Program </h3>
    <ul>
      <li> Featured Skills: Logistic Regression Modeling (R)</li>
    </ul>
    <p>The woefully inadequate uptake of the house-repairing tax credit program in Emil City has driven the city's Department of Housing and Community Development (HCD) to strive for a better understanding of the willingness of eligible homeowners and more effectively targeting resource allocation. Based on client-level data collected from previous campaigns, we developed a decision-making analytic.

Our analytics rely on the following criteria/assumptions: 1. For the household predicted to take the tax credit, HCD is willing to allocate $2,850 per homeowner which includes staff and resources to facilitate mailers, phone calls, and information/counseling sessions at the HCD offices. 2. We assume 25% of contacted eligible homeowners, i.e., who received the marketing allocation, would take the tax credit, while the remaining 75% would not take the credit. 3. The credit costs $5,000 per homeowner which can be used toward home improvement. Academic researchers in Philadelphia evaluated the program finding that houses that transacted after taking the credit, sold with a $10,000 premium, on average.</p>
    <a class="project-link" href="/projects/peopleBaseMLCBA.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
