<div class="news">
                    <h2>News</h2>
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless">
                            <tbody><tr>
                                <th scope="row">Sept. 8, 2023</th>
                                <td> Our demo paper is accepted in SIGSPATIAL 2023!✨</td>
                            </tr>
                            <tr>
                                <th scope="row">June 7, 2023</th>
                                <td> I won 1st-place Best Paper Award in UCGIS 2023!</td>
                            </tr>
                        </tbody></table>
                    </div>
                </div>
