<div class="user-details">
	<h1> Teaching Experience </h1>
	<h2>At University of Illinois Urbana-Champaign</h2>
	<p><strong>2025 Spring<br></strong>Lead Instructor, GGIS/NRES 477: Introduction to Remote Sensing
	<h3>At Duke Kunshan University / Duke University</h3>
	<p><strong>2023 Spring<br></strong>Teaching Assistant, MATH 202: Linear Algebra, ENVIRON 718K: Environmental Sciences, Writing & Language Studio: Academic Writing in English.</p>
	<p><strong>2022 Fall<br></strong>Teaching Assistant, ENVIRON 805K: Environmental Economics, ECON 101: Principles of Economics, Writing & Language Studio: Academic Writing in English.</p>
	<p><strong>2022 Summer<br></strong>Teaching Assistant, DKU Global Summer Institute-Environmental Sustainability (Policy Analysis with R, Environmental Economics, Introductory GIS).</p>
	<p><strong>2022 Spring<br></strong>Teaching Assistant, ENVIRON 759K: Environmental GIS, Writing & Language Studio: Academic Writing in English.</p>
</div>
<div class="user-details">
    <h1> GISphere </h1>
     <p> GISphere is A non-profit platform for GIS scholars to share resources and opportunities founded by a group of Chinese GIS scholars with long-standing commitment to providing the most up-to-date information for GIS scholars, professionals, and students. </p>
    <strong> Check out our new website: <a href="https://gisphere.info/"> https://gisphere.info/</a> </strong>
    <p>LinkTree for GISphere: <a href="https://linktr.ee/gisphere">https://linktr.ee/gisphere</p>
</div>