 <div class="user-details">
<h2>At Duke Kunshan University / Duke University</h2>
<p><strong>2023 Spring<br></strong>Teaching Assistant, MATH 202: Linear Algebra, ENVIRON 718K: Environmental Sciences, Writing & Language Studio: Academic Writing in English.</p>
<p><strong>2022 Fall<br></strong>Teaching Assistant, ENVIRON 805K: Environmental Economics, ECON 101: Principles of Economics, Writing & Language Studio: Academic Writing in English.</p>
<p><strong>2022 Summer<br></strong>Teaching Assistant, DKU Global Summer Institute-Environmental Sustainability (Policy Analysis with R, Environmental Economics, Introductory GIS).</p>
<p><strong>2022 Spring<br></strong>Teaching Assistant, ENVIRON 759K: Environmental GIS, Writing & Language Studio: Academic Writing in English.</p>
 </div>