<div class="user-details">
<h1> Teaching Experience </h1>
<h3>At University of Illinois Urbana-Champaign</h3>
<p><strong>2025 Spring<br></strong>Lead Instructor, GGIS/NRES 477: Introduction to Remote Sensing</p>
<h3>At Duke Kunshan University / Duke University</h3>
<p><strong>2023 Spring<br></strong>
	Teaching Assistant, MATH 202: Linear Algebra
	<br>
	Teaching Assistant, ENVIRON 718K: Environmental Sciences
	<br>
	Peer Writing Coach: Writing & Language Studio: Academic Writing in English
</p>
<p><strong>2022 Fall<br></strong>
	Teaching Assistant, ENVIRON 805K: Environmental Economics
	<br>
	Grader, ECON 101: Principles of Economics, 
	<br>
	Peer Writing Coach: Writing & Language Studio: Academic Writing in English
</p>
<p><strong>2022 Summer<br></strong>
	Teaching Assistant, DKU Global Summer Institute-Environmental Sustainability
	<br>
	- Policy Analysis with R, Environmental Economics, and Introductory GIS
</p>
<p><strong>2022 Spring<br></strong>
	Teaching Assistant, ENVIRON 759K: Environmental GIS
	<br>
	Writing & Language Studio: Academic Writing in English
</p>
</div>

<div class="user-details">
<h1> GISphere </h1>
 <p> GISphere is A non-profit platform for GIS scholars to share resources and opportunities founded by a group of Chinese GIS scholars with long-standing commitment to providing the most up-to-date information for GIS scholars, professionals, and students. </p>
<strong> Check out our new website: <a href="https://gisphere.info/"> https://gisphere.info/</a> </strong>
<strong> LinkTree for GISphere: <a href="https://linktr.ee/gisphere">https://linktr.ee/gisphere</strong>
</div>